<div class="popup-dialog delete-dialog">
    <header>
        <h1>Delete User</h1>
        <a href="javascript:;" class="close-button">
            <i class="fa fa-close"></i>
        </a>
    </header>

    <div>
        <p>Are you sure delete this data?</p>
        <a class="btn btn-success submit-button">Delete</a>
        <a class="btn btn-cancel close-button">Cancel</a>
    </div>
</div>

<div class="popup-dialog message-dialog">
    <header>
        <h1>Delete Category</h1>
        <a class="close-button" href="javascript:;">
            <i class="fa fa-close"></i>
        </a>
    </header>
    <div>
        <p class="message"></p>
        <a class="btn btn-delete ok-button" href="javascript:;">OK</a>
    </div>
</div>

<script>
    $(".btn-delete").click(function (event) {
        event.preventDefault();

        var href = $(this).attr("href");

        $(".modal-layer").css("display", "flex");
        $(".delete-dialog").css("display", "block");

        $(".delete-dialog .submit-button").attr("href", href);
    });

    $(".ok-button").click(function(event){
        event.preventDefault();
        $(".message-dialog").css("display", "none");
        $(".delete-dialog").css("display", "none");
        location.reload();
    });

    $(".delete-dialog .submit-button").click(function (event) {
        event.preventDefault();

        let urlAction = $(this).attr("href");
        $.ajax({
            url: urlAction,
            success: function (response) {
                console.log(response)
                if (response.success) {
                    //location.reload()
                    $(".delete-dialog").removeAttr("style");
                    $(".message-dialog").css("display", "block");
                    $('.message-dialog .message').text(response.message);
                }
                else {
                    $(".delete-dialog").removeAttr("style");
                    $(".message-dialog").css("display", "block");
                    $('.message-dialog .message').text(response.message);
                }
            },
            fail: function () { console.log("Fail") },
            error: function () { console.log("Internal Server Error") }
        });

    });
</script>